<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
  <%= image_tag @photo.image_url(:thumb) %>
</p>

<p>
  <strong>Photo comment:</strong>
  <%= @photo.photo_comment %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', user_path(current_user) %>
